@import 'tailwindcss';
@config "../../tailwind.config.js";

@layer utilities {
  * {
    @apply font-main antialiased hyphens-auto [hyphenate-limit-chars:6_3_3] [hyphenate-limit-lines:2] [hyphenate-limit-last:always] [hyphenate-limit-zone:8%];
  }

}

  @utility container {
    margin-inline: auto;
    padding-inline: 2rem;
  }
@layer base {
  :root {
        --radius: 0.5rem
    }
}

#__nuxt {
    @apply flex flex-col min-h-screen;
}
